
<body style="background-color: rgba(0, 0, 0, 0.65);">
  <fieldset>
    <legend></legend>
    <label>From: {{this.email.sender}}</label>
    <hr />
    <label>Subject: {{this.email.subject}}</label>
    <hr />
    <label> Priority: {{this.email.priority}}</label>
    <hr />
    <label> Attachments: </label>
    <div style="display: flex;">
      <app-attachment2 *ngFor="let attachment of this.email.attachments_IDS" [name]="attachment"></app-attachment2>
    </div>
    <hr />
    <div id="Email-body">
      {{this.email.emailBody}}
    </div>
  </fieldset>
</body>
