input {
  display: inline-block;
  background: #f1f1f1;
  border-color: #f1f1f1d4;
}
input:focus {
  background-color: #ddd;
}
#To-input {
  width: 1570px;
}
#Subject-input {
  width: 1538px;
}
select {
  background-color: #f1f1f1;
}
select:focus {
  background: #f1f1f1d4;
}
button {
  border: none;
  display: inline-flex;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 6px 20px;
  cursor: pointer;
  opacity: 0.6;
}
button:hover {
  opacity: 1;
}
#draft-button ,#send-button{
  float: right;
  margin: 2px;
}
label {
  color: white;
}
fieldset {
  border-color: white;
  color: white;
}
#attachments-button {
  border: none;
  display: inline-flex;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 6px 20px;
  cursor: pointer;
  opacity: 0.6;
}
#attachments-button:hover {
  opacity: 1;
}
