body {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 25px;
  box-sizing: border-box;
}
.Grid-container {
  display: grid;
  grid-template-rows: 75px 750px 50px;
  grid-template-columns: 200px 100px;
  grid-template-areas:
  "top top top"
  "sd cc cc"
  "sd cc cc";
}
header {
  display: flex;
  flex-wrap: wrap;
  grid-area: top;
  margin-left: 25px;
}
#title {
  display: flex;
  flex-wrap: wrap;
}
#title-icon {
  margin-right: 10px;
  width: 80px;
  height: 70px;
}
#title-text {
  margin-top: 25px;
  font-family: fantasy;
  color: white;
}
#search-bar {
  height: 60px;
  width: 500px;
  margin: 22px;
  margin-left: 50px;
}
#search-text {
  width: 400px;
  height: 30px;
  margin: auto;
  color: white;
  background-color: #503d3d;
}

/*---------------------------------------------- Search section ------------------------*/
#search-section {
  height: 20px;
  width: 400px;
  margin: 22px;
  margin-left: 50px;
}
#search-text {
  width: 200px;
  height: 30px;
  margin: auto;
  color: white;
  background-color: #503d3d;
}
#search-text:focus {
  background-color: #503d3d36;
}
#search-button {
  height: 35px;
  width: 60px;
  margin-left: 5px;
  border-radius: 5%;
  font-family: Cursive;
  background-color: black;
  color: white;
  cursor: pointer;
  opacity: 0.65;
}

#search-button:hover {
  opacity:1;
}

#search-button:active {
  transform: translateY(2px);
}

/*------------------------------------Sort section & filter section-----------------------------------*/
#sort-section , #filter-section ,#LogOut, #Reload{
  height: 20px;
  margin: 22px;
  margin-left: 50px;
}
label {
  color: white;
  font-family: cursive;
}
.selection-list {
  height: 35px;
  margin-left: 5px;
  border-radius: 5%;
  font-family: Cursive;
  background-color: black;
  color: white;
  cursor: pointer;
  opacity: 0.65;
}
.selection-list:hover{
  opacity: 1;
}
#filter-button {
  height: 35px;
  width: 60px;
  margin-left: 5px;
  border-radius: 5%;
  font-family: Cursive;
  background-color: black;
  color: white;
  cursor: pointer;
  opacity: 0.65;
}

#filter-button:hover {
  opacity:1;
}

#filter-button:active {
  transform: translateY(2px);
}

#LogOut-button {
  height: 35px;
  width: 60px;
  margin-left: 10px;
  border-radius: 5%;
  font-family: Cursive;
  background-color: black;
  color: white;
  cursor: pointer;
  opacity: 0.65;
}

#LogOut-button:hover {
  opacity:1;
}

#LogOut-button:active {
  transform: translateY(2px);
}

#Reload-button {
  height: 35px;
  width: 60px;
  margin-left: 10px;
  border-radius: 5%;
  font-family: Cursive;
  background-color: black;
  color: white;
  cursor: pointer;
  opacity: 0.65;
}

#LogOut-button:hover , #Reload-button:hover{
  opacity:1;
}

#LogOut-button:active , #Reload-button:active{
  transform: translateY(2px);
}
#select {
  transform : scale(1.5);
  cursor: pointer;
  margin-left: 20px;
  accent-color: red;
}
#filter-inputs {
  width: 70px;
  height: 20px;
  margin: auto;
  color: white;
  background-color: #503d3d;
}
#filter-inputs:focus {
  background-color: #503d3d36;
}
#select {
  transform : scale(1.5);
  cursor: pointer;
  width: 20px;
  accent-color: red;
}
/*-----------------------------------------  Menu ---------------------------------------------------*/
aside {
  padding: 0px 10px 10px;
  display: flex;
  flex-direction: column;
  grid-area: sd;
}
aside button{
  text-align: left;
}
#Compose-button {
  margin-top: 15px;
  margin-bottom: 5px;
  height: 60px;
  width: 180px;
  font-size: 15px;
  font-family: Cursive;

  background-color: black;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.6;
}
.Folder-buttons{
  align-items: center;
  height: 50px;
  font-size: 15px;
  font-family: Cursive;
  color: rgba(255, 255, 255, 0.6);
  border: none;
  background-color: rgba(0, 0, 0, 0.6);
  overflow-y: scroll;
  overflow-x: scroll;
  cursor: pointer;
}
.Folder-buttons:hover{
  color: rgba(255, 255, 255, 1);
}
.Folder-buttons:active{
  color: red;
  background-color: rgba(0, 0, 0, 1);
}
.Folder-buttons::-webkit-scrollbar {
  display: none;
  transform: rotate(-90deg);
}
.Menu-buttons{
  height: 50px;
  font-size: 15px;
  font-family: Cursive;
  background-color: black;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.6;
}

.Menu-buttons:hover , #Compose-button:hover, .Folder-buttons{
  opacity:1;
}
#c-Folders-buttons {
  margin-top: 10px;
}
#add-contact-button {
  margin-top: 10px;
}
/*----------------------------------------------------------------------------------------------*/
main {
  grid-area: cc;
  padding: 10px;
  border: 5px solid black;
  border-radius: 25px;
  margin: 10px
}
/*----------------------------------------------------------------------------------------------*/

/* Full-width input fields */
input[type=text] {
  margin: 5px 0 5px 0;
  display: inline-block;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus{
  background-color: #ddd;
  outline: none;
}

/*-----------------------------------------  Refresh ---------------------------------------------------*/

.refresh-button {
  margin-top: 15px;
  margin-bottom: 5px;
  height: 50px;
  width: 60px;
  font-size: 15px;
  font-family: Cursive;
  background-color: rgba(0, 0, 0, 0);
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}

.refresh-button:hover {
  opacity: 0.9;
}

.refresh-button:active {
  opacity: 1;
}

