body {
  border: 2px solid black;
  border-radius: 25px;
  box-sizing: border-box;
}
.Grid-container {
  display: grid;
  grid-template-rows: 75px 820px 50px;
  grid-template-columns: 200px 100px;
  grid-template-areas:
  "top top top"
  "sd cc cc"
  "sd cc cc";
}
header {
  display: flex;
  flex-wrap: wrap;
  grid-area: top;
  margin-left: 25px;
}
#title {
  display: flex;
  flex-wrap: wrap;
}
#title-icon {
  margin-right: 10px;
  width: 80px;
  height: 70px;
}
#title-text {
  margin-top: 25px;
  font-family: fantasy;
}
#search-bar {
  height: 60px;
  width: 500px;
  margin: 22px;
  margin-left: 50px;
}
#search-text {
  width: 400px;
  height: 30px;
  margin: auto;
}

/*-----------------------------------------  Menu ---------------------------------------------------*/
aside {
  padding: 0px 10px 10px;
  display: flex;
  flex-direction: column;
  grid-area: sd;
}
#Compose-button {
  margin-top: 15px;
  margin-bottom: 5px;
  height: 60px;
  width: 180px;
  font-size: 18px;
  font-family: Cursive;

  background-color: black;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.Menu-buttons {
  height: 50px;
  font-size: 18px;
  font-family: Cursive;

  background-color: black;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.Menu-buttons:hover , #Compose-button:hover{
  opacity:1;
}
/*----------------------------------------------------------------------------------------------*/
main {
  grid-area: cc;
  padding: 10px;
  border: 5px solid black;
  border-radius: 25px;
  margin: 10px
}
/*----------------------------------------------------------------------------------------------*/

/* Full-width input fields */
input[type=text] {
  margin: 5px 0 5px 0;
  display: inline-block;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus{
  background-color: #ddd;
  outline: none;
}

#search-button {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  border-radius: 50%;
  font-family: Cursive;

  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

#search-button:hover {
  opacity:1;
}

#search-button:active {
  transform: translateY(4px);
}
