<div class="parent" [ngStyle]="{'opacity': (this.emailHeader?.read) ? '0.8' : '1'}" >
  <input id="select" type="checkbox" (click)="select()">
  <button class="headerButton" routerLink="/main-screen/{{this.router}}/{{this.emailHeader.id}}">
    <div [ngStyle]="{'font-weight': (this.emailHeader?.read) ? '' : 'bold'}" id="sender">{{this.emailHeader?.sender}}</div>
    <div [ngStyle]="{'font-weight': (this.emailHeader?.read) ? '' : 'bold'}"  id="subject">{{this.emailHeader?.subject}}</div> 
    <div id="headerBody">{{this.emailHeader?.headerBody}}</div>
    <div [ngStyle]="{'font-weight': (this.emailHeader?.read) ? '' : 'bold'}"  id="date">{{this.emailHeader?.date}}</div>  
</button>
</div>