<div class="headerList" style="height: 94.5%;">
  <app-email_button *ngFor="let header of headers | paginate: {itemsPerPage: 14 , currentPage: p}" [header]="header"></app-email_button>
</div>
<div id="tools">
  <div id="pagination" style="width: 1000px;">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
  <div style="width: 100px;">
    <button id="extras-button" (mouseup)="delete()"><fa-icon [icon]="Trash"></fa-icon></button>
  </div>
  <div style="width: 300px; margin-left: 2px;">
    <select id="extras-button" [(ngModel)]="destination" (change)="move()">
      <option selected disabled hidden>Move</option>
      <option *ngFor="let folder of this.proxy.getFolders()" value="{{folder}}">{{folder}}</option>
    </select>
  </div>
</div>
